<div class="compare-button" data-compare-button data-product-type="{{ product.type }}">
  compare checkbox here
  <div class="product-json-hidden">
    {% assign specs = product.metafields.custom.spec_data.value %}
  </div>
</div>

{% schema %}
{
  "name": "Compare button",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Compare button"
    }
  ]
}
{% endschema %}
